.nav-custome{
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: #ffffff;
    width: 100%;
}
.corousel-custome{
    padding-top: 5rem;
    margin-top: 3.5rem;
}

.address-container,
.contact-container {
    display: flex;
    border-right: 1px solid #808080;
    padding: 0 15px; 


}

.intro {
    padding: 25px 0;
    background-color: #f5f5f5;
}

.d-flex .align-items-center .contact-container {
    border-right: none;
}

.icon-container,
.details-container {
    margin-right: 10px;
}

.details-container p {
    margin: 0;
}
.partner-corpec{
    line-height: 0;
    margin-top: 20px;
}


/* Media query untuk perangkat seluler dengan lebar maksimum 768px */
@media screen and (max-width: 912px) {
    .nav-left {
        flex-direction: row;
        align-items: flex-start; 
    }
    .navbar-collapse {
        width: 100%; /* Menjadikan lebar 100% agar memenuhi lebar layar */
    }

    .navbar-toggler {
        order: -1; /* Mengubah urutan tombol toggler ke atas */
    }

    .navbar-brand {
        order: 0; /* Mengubah urutan logo ke atas */
    }
    .corousel-custome{
        padding-top: 3.5rem;
        margin-top: 2rem;
    }
    .intro-title{
        margin-top: 25px;
    }
    .intro-title p{
        margin-top: 15px;
    }
    .partner-corpec {
        line-height: 1;
    }


}



.line-feature{
    width: 280px;
    height: 4px;
    margin: auto;
    opacity: 0;
    animation: blinkfeature 1s forwards, blink 5s infinite;
    background: linear-gradient(90deg, rgba(255,5,5,1) 0%, rgba(156,132,132,1) 50%, rgba(83,0,237,1) 100%);
    border-radius: 25px; 
}
.line-news{
    width: 200px;
    height: 4px;
    opacity: 0;
    animation: blinkfeature 1s forwards, blink 5s infinite;
    background: linear-gradient(90deg, rgba(255,5,5,1) 0%, rgba(156,132,132,1) 50%, rgba(83,0,237,1) 100%);
    border-radius: 25px; 
}
@keyframes blinkfeature {
    to { 
        opacity: 1; 
    }
}

@keyframes blink {
    50% { opacity: 0; }
}